@charset "UTF-8";
body {
  font-family: "Lato", sans-serif;
}
a {
  text-decoration: none;
  color: #2470ba; 
}
a:hover {
	color: #064579;
}

button {
  cursor:pointer;
}

input[type="text"] { padding: 8px 15px; line-height: 10px;margin-top: 3px; }

.center {
	display: block;
	margin: auto;
}

.nav {
	margin-top:40px; text-align: center;
}
.nav ul {
	padding: 0;
}
.nav li {
	display: inline-block;
	list-style-type: none;
	text-align: center;
	font-weight: bold;
	padding: 0 10px;
	font-size: 25px;
}
.navbuttons {
	text-align: left;
	margin-left: 135px;
}
.container_principal{
	display:inline-table;
	padding: 0 10px;
}
.container_principal button:not(.buttonP,.editbutton) {
	background: #e3e3e3;
	padding: 12px 10px;
	color:#3366cc;
	font-size: 20px;
	font-weight: bold;
}
.container_principal button:hover:not(.editbutton) {
	color: #064579;
	background: #d5d5d5;
}
.table {
	width: 90%;
	margin: auto;
}
.table thead {
	padding: 0;
	border: 0;
	height: 1px; 
	width: 1px;
}   
.table thead th {
	background-color:#3366cc;
	color: white;
	padding: 5px 12px;
	text-align: center;
}
.table tbody tr td {
    padding: 0 5px;
    text-align: left;
    white-space: normal;
}
.table tbody tr td:first-child {
	text-align: center;
} 
.table tbody tr:nth-of-type(even) {
	background-color: #e5e7ec;
}

.pag {
	display:inline-table;
}

.editbutton {
	text-decoration: none;
  	color: #2470ba;
  	background: none;
  	border: none;
  	font-size: 1em;
}
.editbutton:hover {
	color: #064579;
	background: none; 
}

.buttonP, .buttonP:hover {
	border: none;
	background: none;
}
.divprocura {
	margin:auto;
	text-align: center;
	margin-left: 110px;
} 
.createdoc{
  padding: 8px 0;
  margin:auto;
  margin-top:45px;
  font-weight: bold;
  font-size:1.4em;
  text-align:center;
}
.createdoc button{
	padding: 12px 10px;
	display: block;
	margin: auto;
	margin-top:10px;
}
.side {
	padding: 8px 0;
 	margin:auto;
 	margin-top:45px;
 	font-weight: bold;
 	font-size:1.4em;
 	text-align:left;
 	float:none;
}
.side img{
	width: 100%;
}
.side h3{
	padding: 2px 0;
	margin:auto;
	font-size: 16px;
 	color:#3366cc;
 	font-weight: bold;
}
.inside {
	display: inline-block;
}
.uploadfile{
  overflow-x: hidden;
  padding: 8px 0;
  color:#3366cc;
  width:0%;
  height:0%;
}
/* back da modal*/
.back{
  display: none; 
  position: fixed; /* Fica no sitio*/
  z-index: 1; /* Fica no topo */
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}
/* conteudo da modal*/
.conteudo{
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
/* header da modal*/
.header{
  padding: 2px 0px;
  background-color: #3366cc;
  color: white;
}
/* body da modal*/
.modalbody {
	padding: 2px 16px;
	display:flex;
	flex-direction:column;
}

/* Close da modal*/
.close, .close2 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor:pointer;
  text-align:right;
}
.close:hover, .close2:hover{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.formAlign{
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.formAlign input { 
	padding: 8px 15px; line-height: 10px;margin-top: 3px; 
}
.teste {
	border: 1px solid black;
}



/*		Animações		*/

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

