@charset "UTF-8";
body {
  font-family: "Lato", sans-serif;
}
.sidenav {
  width: 240px;
  z-index: 1;
  top: 240px;
  left: 100px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
  margin-left:50px;
  margin-top:45px;
  font-weight: bold
}
.sidenav a {
  padding: 10px 30px 25px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #3366cc;
  display: block;
}
.sidenav a:hover {
  color: #064579;
}

.sidenav2 {
  width: 230px;
  z-index: 1;
  top: -40px;
  left: 100px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
  margin-left:50px;
  margin-top:0px;
  font-weight: bold
}
.sidenav2 a {
  padding: 10px 30px 25px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #3366cc;
  display: block;
}
.sidenav2 a:hover {
  color: #064579;
}
.button1 {
background:transparent;
border:none;
outline:none;
display:block;
height:0px;
width:0px;
cursor:pointer;
}
#divprocura{
  background-color:white;
  border:solid 2px;
  border-radius:15px;
  border-color:#3366cc;
  width:300px;
  position:absolute;
  left:460px;
}
#txtprocura{
  float:left;
  background-color:transparent;
  padding-left:5px;
  font-style:italic;
  font-size:16px;
  border:none;
  height:32px;
  width:260px;
}
.table{
  position: absolute;
  margin-left: 450px;
  top: 252px;
  
}
th{
  border: 1px solid black;
  height:30px;
  color: #3366cc;
  background: #eee;
}
.nd{
text-align: left;
}
.tablecab{
 background-color:#3366cc;
 color: white;
 border: 1px solid black;
 height:30px;
}
.tablecab1{width:40px}
.tablecab2{width:150px}
.tablecab3{width:370px}
.tablecab4{width:210px}
.tablecab5{width:210px}
.tablecab6{width:120px}
/*					*/
.tablecab7{width:40px}
.tablecab8{width:150px}
.tablecab9{width:370px}
.tablecab10{width:210px}
.tablecab11{width:210px}
.tablecab12{width:120px}

.side{
  width: 800px;
  z-index: 1;
  overflow-x: hidden;
  padding: 8px 0;
  margin-left:260px;
  margin-top:10px;
  font-size: 18px;
  color:#3366cc;
  font-weight: bold;
}
.createdoc{
  width: 240px;
  z-index: 1;
  top: 240px;
  left: 100px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
  margin-left:50px;
  margin-top:45px;
  font-weight: bold;
  color:#3366cc;
  font-size:140%;
}
.uploadfile{
  width: 240px;
  z-index: 1;
  top: 240px;
  left: 100px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
  margin-left:50px;
  margin-top:45px;
  font-weight: bold;
  color:#3366cc;
  font-size:140%;
}
.tablerod{
  border: 0px solid white;
  height:30px;
  color: white;
  background: white;
}
.button2{
  background: #eee;
  overflow-x: hidden;
  padding: 12px 0;;
  color:#3366cc;
  font-size:100%;
  font-weight: bold;
  width: 180px;
}
.button3{
	margin-left:10px;
}
.img_agile{
	top:-40px;
	height:150px;
	width:200px;
	left:840px;
	position:absolute;
	/*width:200px;
	height:150px;
	position:absolute;
	left:750px;/* 10px 
	top:-40px; */
}
.img_voltar{
	width:5%;
	height:5%;
	position:absolute;
	left:1px;
	top:140px;
}
.trulydocs{
	position:fixed;
	left:100px;
	top:125px; 
	color:#3366cc;
}
.barra{
	position:absolute;
	top:190px;
	 margin-left: 830px;
}
.barra2{
  top: 310px;
  margin-left: 880px;
  position:absolute;
}
.img_lupa{
	width:30px;
	height:30px;
}
.table2{
	position:absolute;
	top:370px;
	margin-left:500px;
}
.img_doc{
	position:absolute;
	top:200px;
	margin-left:40px;
	width:200px;
	height:150px;
}
.modalBack{
  display: none; 
  position: fixed; /* Fica no sitio*/
  z-index: 1; /* Fica no topo */
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modalConteudo{
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.formAlign{
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/*--- Animações ----*/
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.modal-header {
  padding: 2px 16px;
  background-color: #005d95;
  color: white;
}

.modal-body {
	padding: 2px 16px;
	display:flex;
	flex-direction:column;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #ffffff;
  color: white;
}

/* Close da modal*/
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
